{% extends 'home.html.twig' %}

{% block content %}

    <div class="content-block">
        <div class="container">
           <h1 class="text-center mt-5"> Welcome in <span style="color: #D24246;">Your Turn</span> App!</h1>
        </div>
    </div>



{% endblock %}
