{% extends 'home.html.twig' %}

{% block content %}

    <div class="content-block">
        <div class="row">
            <div class="col-lg-12">
                <div style="padding-bottom: 3em;">
                    <div class="container">
                        <h1 class="text-center mt-5" style="color: white;"> Welcome in <span style="color: #D24246;">Your Turn</span>
                            App!
                        </h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div style="padding-bottom: 3em;">
                    <div class="container">
                        <h4 class="text-center mt-5" style="color: white; padding: 0 5em 0 5em;">
                            No more wondering who was the last to take out the garbage, or who was the last to buy milk.
                        </h4>
                        <h4 class="text-center mt-5" style="color: white; padding: 0 4em 0 4em;">
                            Now all the tasks will be remembered for you by the application.
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}
