{% extends 'base.html.twig' %}

{% block isActive %}
    <ul class="nav">
        <li class="active">
            <a href="{{ path('forecast') }}">
                <i class="pe-7s-user"></i>
                <p>Forecast</p>
            </a>
        </li>
        <li>
            <a href="">
                <i class="pe-7s-note2"></i>
                <p>Tasks</p>
            </a>
        </li>
        <li>
            <a href="{{ path('flats_service') }}">
                <i class="pe-7s-home"></i>
                <p>Flats</p>
            </a>
        </li>
        <li>
            <a href="{{ path('users_service') }}">
                <i class="pe-7s-users"></i>
                <p>Users</p>
            </a>
        </li>
    </ul>
{% endblock %}

{% block content %}
    <main>

        <div class="col-sm-12">
            <h3 class="centered"> Add city for which you'd like to see forecasts.</h3>

            <form action="{{ path('forecast') }}" method="get">
                <div class="searcher">
                    <input type="search" name="city_name" class="my-searcher" placeholder="City name...">
                    <br>
                    <button class="btn btn-fill btn-my col-md-4 col-md-offset-4 col-xs-10 col-xs-offset-1" type="submit">
                        Add
                    </button>
                </div>
            </form>

        </div>

    </main>


{% endblock %}
