{% extends 'base.html.twig' %}

{% block body %}
    <main>

        <div class="col-sm-12">
            <p class="generated">
            {%  if success == true %}
                {{ sentence|raw }}
            {% else %}
                Unfortunately the city was not found.
            {% endif %}
            </p>
            <hr>
            <h3 class="centered"> Wanna generete another forecast?</h3>
            <form action="{{ path('city_search') }}" method="get">
                <div class="searcher">
                    <input type="search" name="city_name" class="my-searcher" placeholder="City name...">
                    <button class="my-button" type="submit">Search</button>
                </div>
            </form>

        </div>

    </main>

{% endblock %}
